.App-Form{
  align-items: center;
  width: 30vw;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #141414;
  color: whitesmoke;
  margin-top: 24vh;
  margin-bottom: 24vh;
}

.App-Form form input{
  background-color: inherit;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  margin-bottom: 1rem;
}

.App-Form form p{
  margin-bottom: 0.5rem;
}

.App-Form button{
  background-color: rgb(255, 201, 54);
  border-radius: 0.5rem;
  border: none;
}

.App-Form button:hover{
  background-color: #141414;
  color: rgb(255, 201, 54);
}